<header class="ess-site-header">

  <!-- =====================================================
       TOP BAR
  ====================================================== -->

  <div class="ess-topbar">

    <div class="container ess-topbar-inner">

      <div class="ess-topbar-left">

        <span>
          <i class="fa fa-map-marker"></i>
          Bangladesh
        </span>

        <span class="ess-topbar-separator"></span>

        <span>
          Professional Security & Manpower Solutions
        </span>

      </div>


      <div class="ess-topbar-right">

        <a href="tel:+8801711106272">
          <i class="fa fa-phone"></i>
          +88 01711-106272
        </a>

        <span class="ess-topbar-separator"></span>

        <a href="assessment.html">
          Contact Us
        </a>

      </div>

    </div>

  </div>



  <!-- =====================================================
       MAIN NAVBAR
  ====================================================== -->

  <nav class="navbar navbar-expand-lg ess-navbar">

    <div class="container ess-navbar-inner">


      <!-- BRAND -->

      <a
        class="navbar-brand ess-brand"
        href="index.html"
        aria-label="Ethics Security Service Home"
      >

        <span class="ess-brand-mark">

          <img
            src="images/brand/ethics-logo.png"
            alt="Ethics Security Service"
          >

        </span>


        <span class="ess-brand-text">

          <strong>
            Ethics Security Service
          </strong>

          <small>
            Professional Security & Manpower
          </small>

        </span>

      </a>



      <!-- MOBILE BUTTON -->

      <button
        class="navbar-toggler ess-navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#essNavbar"
        aria-controls="essNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >

        <span></span>
        <span></span>
        <span></span>

      </button>



      <!-- NAVIGATION -->

      <div
        class="collapse navbar-collapse ess-navbar-collapse"
        id="essNavbar"
      >


        <ul class="navbar-nav ml-auto ess-nav-list">


          <li class="nav-item">

            <a
              class="nav-link"
              href="index.html"
            >
              Home
            </a>

          </li>



          <li class="nav-item">

            <a
              class="nav-link"
              href="about.html"
            >
              About
            </a>

          </li>



          <!-- SERVICES DROPDOWN -->

          <li class="nav-item ess-nav-services">

            <button
              class="nav-link ess-services-toggle"
              type="button"
              aria-expanded="false"
              aria-controls="essServicesMenu"
            >

              Services

              <i class="fa fa-angle-down"></i>

            </button>


            <div
              class="ess-services-menu"
              id="essServicesMenu"
            >


              <div class="ess-services-menu-head">

                <span>
                  OUR SERVICES
                </span>

                <strong>
                  Security & operational support
                </strong>

              </div>


              <div class="ess-services-menu-grid">


                <a href="service.html#general-security">
                  <i class="fa fa-shield"></i>

                  <div>
                    <strong>
                      General Security Guard
                    </strong>

                    <span>
                      Corporate, commercial & residential
                    </span>
                  </div>

                </a>


                <a href="service.html#armed-security">
                  <i class="fa fa-lock"></i>

                  <div>
                    <strong>
                      Armed Security
                    </strong>

                    <span>
                      High-risk and controlled locations
                    </span>
                  </div>

                </a>


                <a href="service.html#vip-protection">
                  <i class="fa fa-user-secret"></i>

                  <div>
                    <strong>
                      VIP & Close Protection
                    </strong>

                    <span>
                      Executive and VIP security
                    </span>
                  </div>

                </a>


                <a href="service.html#event-security">
                  <i class="fa fa-users"></i>

                  <div>
                    <strong>
                      Event Security
                    </strong>

                    <span>
                      Access and crowd management
                    </span>
                  </div>

                </a>


                <a href="service.html#housekeeping">
                  <i class="fa fa-building"></i>

                  <div>
                    <strong>
                      Housekeeping & Support
                    </strong>

                    <span>
                      Facility and operational staff
                    </span>
                  </div>

                </a>


                <a href="service.html#industrial-manpower">
                  <i class="fa fa-industry"></i>

                  <div>
                    <strong>
                      Industrial Manpower
                    </strong>

                    <span>
                      Factory, warehouse & logistics
                    </span>
                  </div>

                </a>


              </div>


              <a
                href="service.html"
                class="ess-services-all"
              >

                View All Services

                <i class="fa fa-long-arrow-right"></i>

              </a>


            </div>

          </li>



          <li class="nav-item">

            <a
              class="nav-link"
              href="industries.html"
            >
              Industries
            </a>

          </li>



          <li class="nav-item">

            <a
              class="nav-link"
              href="training.html"
            >
              Training
            </a>

          </li>



          
          <li class="nav-item">
  <a
    class="nav-link"
    href="pricing.html"
  >
    PRICING
  </a>
</li>
<li class="nav-item">
            <a
              class="nav-link"
              href="gallery.html"
            >
              Gallery
            </a>
          </li>
<li class="nav-item">

            <a
              class="nav-link"
              href="assessment.html"
            >
              Contact
            </a>

          </li>


        </ul>



        <!-- CTA -->

        <div class="ess-header-cta">

          <a
            href="assessment.html"
            class="ess-header-button"
          >Request Assessment

            <i class="fa fa-long-arrow-right"></i>

          </a>

        </div>


      </div>


    </div>

  </nav>

</header>














