<header class="ess-site-header">

  <div class="ess-topbar">
    <div class="container">
      <div class="ess-topbar-inner">

        <div class="ess-topbar-left">
          <span><i class="fa fa-map-marker"></i> Bangladesh</span>
          <span><i class="fa fa-shield"></i> Security & Manpower Solutions</span>
        </div>

        <div class="ess-topbar-right">
          <a href="contact.html">
            <i class="fa fa-envelope-o"></i>
            Contact Us
          </a>
        </div>

      </div>
    </div>
  </div>


  <div class="ess-header-main">
    <div class="container">

      <nav class="navbar navbar-expand-lg ess-navbar">

        <a class="navbar-brand ess-brand" href="index.html">

          <span class="ess-brand-mark">
            <img
              src="images/brand/ethics-logo.png"
              alt="Ethics Security Service logo"
            >
          </span>

          <span class="ess-brand-text">
            <strong>Ethics Security Service</strong>
            <small>Professional Security & Manpower</small>
          </span>

        </a>


        <button
          class="navbar-toggler ess-navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#essNavbar"
          aria-controls="essNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>


        <div class="collapse navbar-collapse" id="essNavbar">

          <ul class="navbar-nav ml-auto ess-nav-list">

            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="service.html">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="index.html#industries">Industries</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="guard.html">Guards</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>

          </ul>


          <div class="ess-header-cta">
            <a href="contact.html" class="ess-header-button">
              Request Quote
            </a>
          </div>

        </div>

      </nav>

    </div>
  </div>

</header>

